<html>
    <head>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <form method = "post">
            {% csrf_token %}
            <p>
                You have already had the same file.<br>
                Do you want to update the old file or insert a new one?
            </p>
            <button name = "method" value = "update" type = "submit">Update</button>
            <button name = "method" value = "insert" type = "submit">Insert</button>
        </form>

        {% if msg %}
            <script>
                alert("{{ msg }}")
            </script>
            <p><a href = "/datatraining/preprocess_keep">Next Page</a></p>
        {% endif %}
    </body>
</html>