<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>preprocess</h1>

        {% if msg %}
            <p>Your data have {{ msg.cols }} columns and {{msg.rows}} rows.</p>
        {% endif %}

        <form method = "post">
            {% csrf_token %}            
            <table border="1" >
                {% for i in keep %}
                <tr>
                    <td>column name: {{i.col}}</td>

                    <td>
                    number of na: {{i.na}}
                    {% if i.str == 0 and i.na != 0 %}
                        <select name="{{i.col}}">
                            <option value="1">刪掉</option>
                            <option value="2">補平均</option>
                            <option value="3">補零</option>
                        </select>
                    {% endif %}
                    </td>

                    <td>
                    string or not: 
                    {% if i.str == 0 %}
                        No
                    {% else %}
                        Yes
                    {% endif %}

                    {% if i.str == 0 %}
                        <select name="cat">
                            <option>integer</option>
                            <option value="{{i.col}}">category</option>
                        </select>
                    {% else %}
                        <select name="cat">
                            <option value="{{i.col}}">category</option>
                        </select>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}               
            </table>
            
            {% if res_status == 'success' %}
                <script>
                    alert("{{ res_msg }}")
                </script>
                <p><a href = "/datatraining/train">Next Page</a></p>
            {% else %}
                <p>If the column that you keep is category, we'll delete the data that contains NA automatically.</p>
                <p><button type = "submit">continue</button></p>
            {% endif %}            
        </form>
    </body>
</html>