<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Preprocess</h1>

        {% if msg %}
            <p>Your data have {{ msg.cols }} columns and {{msg.rows}} rows.</p>
        {% endif %}

        {% if keep %}
            <p>You have kept these columns:</p>
            <table border = "1">
                {% for i in keep %}
                    <tr><td>{{ i }}</td></tr>
                {% endfor %}
            </table>
            <p><a href = "/datatraining/preprocess">Next Page</a></p>

		{% else %}
        <form method = "post">
            {% csrf_token %}
            <input type = "checkbox" onClick = "toggle(this)">Select all<br>      
            <table border = "1" >                   
                {% for i in data %}
                <tr>
                    <td>
                    <input type = "checkbox" name = "keep" value = "{{ i.col }}">
                    column name: {{i.col}}
                    </td>
                    <td>number of NA: {{i.na}}</td>
                    <td>
                        string or not: 
                        {% if i.str == 0 %}
                            No
                        {% else %}
                            Yes
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}               
            </table>
            <button type = "submit">continue</button>
        </form>
        {% endif %}

        <script>
            function toggle(source){
                checkboxes = document.getElementsByName('keep');
                for(var i = 0; i < checkboxes.length; i++){
                    checkboxes[i].checked = source.checked;
                }
            }
        </script>
    </body>
</html>