<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Choose Your Data(CSV)</h1>

        <form method = "post" enctype = "multipart/form-data">
            {% csrf_token %}
            <p><input type = "file" name = "myfile"></p>
            <p><input type = "checkbox" name = "shared">Do you want to share your data?</p>
            <button type = "submit">Upload</button>
        </form>
        
        {% if json %}
            <script>
                alert("{{ json.message }}")
            </script>
            {% if json.status == 'success' %}
                <p><a href = "/datatraining/preprocess_keep">Next Page</a></p>
            {% endif %}
        {% endif %}

        {% if msg %}
            <script>
                alert("{{ msg }}")
            </script>
        {% endif %}
    </body>
</html>