<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type = "text/javascript">
            function updateTextInput(val){
                document.getElementById('textInput').value = val;
            }
            function updateRangeInput(val){
                document.getElementById('rangeInput').value = val;
            }
        </script>
    </head>
    <body>
        <h1>Training Your Model</h1>

        <form method = "post">
            {% csrf_token %}

            {% if keep and algorithm %}
                <p>Choose the algorithm you want:</p>
                <select name = "algo">
                    {% for i in algorithm %}
                        <option value = "{{ i.index }}">{{ i.algorithm }}</option>
                    {% endfor %}
                    <option value = "6">All</option>
                </select>
                
                <p>Choose the column you want to be the target:</p>
                <select name = "target">
                    {% for i in keep %}
                        <option value = "{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <p>The percentage you want for testing:</p>
                <p><input type = "range" name = "test_pro" id = "rangeInput" min = "0" max = "1" 
                    step = "0.1" onchange = "updateTextInput(this.value);">
                    <input type = "text" id = "textInput" value = ""
                    onchange = "updateRangeInput(this.value)">
                </p>

                <input type = "checkbox" name = "shared">Do you want to share your model?<br>
                <small>You can still change your mind later.</small>

                <p><button type = "submit">Submit</button></p>
            {% elif res_json and algorithm %}
                <p>The accuracy of all algorithm:</p>
                <table border = "1">
                    <tr>
                        {% for i in algorithm %}
                            <th>{{i.algorithm}}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in res_json %}
                            <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                </table>
                <p>
                    After checking the accuracy of all algorithm,<br>
                    please choose one model you want to keep:
                </p>
                <select name = "trainallkeep">
                    {% for i in algorithm %}
                        <option value = "{{ i.index }}">{{ i.algorithm }}</option>
                    {% endfor %}
                </select>

                <p>
                    <input type = "checkbox" name = "shared">Do you want to share your model?<br>
                    <small>You can still change your mind later.</small>
                </p>

                <p><button type = "submit">Submit</button></p>
            {% endif %}
        </form>

        {% if accuracy and algo %}
            <script>
                alert("The accuracy of your model is {{ accuracy }}. The algorithm you use is {{ algo }}.")
            </script>
            <p><a href = "/account/user_profile/">Back to user profile</a></p>
        {% elif msg %}
            <script>
                alert("{{ msg }}")
            </script>
            <p><a href = "/account/user_profile/">Back to user profile</a></p>
        {% endif %}
    </body>
</html>