<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">AIaaS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">               
                <li class="nav-item">
                    <a class="nav-link" href="/public_data">Public Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/public_model">Public Model</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datatraining/sent_data">Train Your Model</a>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <span class="navbar-text">
                                Hello {{ request.user }}
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/user_profile">User Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/register">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <h1 align = "center">Public Data</h1>

        {% if shared_csv %}
            <form method = "post" align = "center">
                {% csrf_token %}
                <p align = "center">
                    <input type = "search" name = "search_data" placeholder = "Search">
                    <button type = "submit">Search</button>
                </p>
                {% for i in shared_csv %}
                    <p align = "center">
                        {{ i.filename }}  <small>by {{ i.username }}</small>
                        <button name = "download" value = "{{ i.id }}" type = "submit">Download</button>
                    </p>
                {% endfor %}
            </form>
        {% else %}
            <p align = "center">There are no sharing data.</p>
        {% endif %}

        {% if msg %}
            <script>
                alert("{{ msg }}")
            </script>
        {% endif %}
    </body>
</html>