<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Delete Your Data</h1>

        <form method = "post">
            {% csrf_token %}
            <p>Do you really want to delete {{ delete_file }}?</p>
            <p>
                <button name = "delete" type = "submit" value = "1">Yes</button>
                <button name = "delete" type = "submit" value = "0">No</button>
            </p>
        </form>

        {% if msg %}
            <script>
                alert("{{ msg }}")
            </script>
            <p><a href = "/account/data_manage">Turn back to data manage</a></p>
        {% endif %}
    </body>
</html>