<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Edit Your Data</h1>

        <form method = "post">
            {% csrf_token %}

            <p>Change your filename</p>
            <p><input type = "text" name = "new_filename" value = "{{ data }}" required></p>

            <p><input type = "checkbox" name = "shared">Do you want to share this file?</p>

            <button type = "submit">Edit</button>
        </form>

        {% if msg %}
            <script>
                alert("{{ msg }}")
            </script>
            <p><a href = "/account/data_manage">Turn back to data manage</a></p>
        {% endif %}
    </body>
</html>