<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Edit Your Model</h1>

        <form method = "post">
            {% csrf_token %}   
            <p>Change your filename of model</p>
            <p><input type = "text" name = "new_modelname" value = "{{ model }}" required></p>
    
            <p><input type = "checkbox">Do you want to share this model?</p>
    
            <button type = "submit">Edit</button>
        </form>

        {% if msg %}
            <script>
                alert("{{ msg }}")
            </script>
            <p><a href = "/account/model_manage">Turn back to model manage</a></p>
        {% endif %}
    </body>
</html>